/* Estilos gerais */
.fotoVitor {
  width: 175px;
  height: 175px;
  border-radius: 95px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-family: "Poppins", serif;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
}

.descricao {
  text-align: left;
  font-family: "Poppins", serif;
  font-weight: 400;
  line-height: 1.8;
  margin: 0 20px;
}

.RedesSociais {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btnLinkedin {
  display: flex;
  align-items: center;
  background-color: #1568c4;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 5px;
}

.btnGitHub {
  display: flex;
  align-items: center;
  background-color: #282828;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 5px;
}

.btnIcon {
  width: 50px;
  height: 50px;
}

.linkRedesSociaisLinkedin {
  text-decoration: none;
}

.linkRedesSociaisGit {
  text-decoration: none;
}

/* Ajuste para telas maiores (desktops) */
@media (min-width: 1024px) {
  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .descricao {
    text-align: justify;
    font-size: 20px;
  }

  .btnLinkedin,
  .btnGitHub {
    padding: 10px 20px;
    font-size: 18px;
  }
    
  .linkRedesSociaisLinkedin :hover {
    background-color: #0a4f91;
  }

  .linkRedesSociaisGit :hover {
    background-color: #1b1f23;
  }

  .btnIcon {
    width: 40px;
    height: 40px;
  }
}

/* Ajuste para telas de celular, por exemplo */
@media (max-width: 768px) { 
  .descricao {
    font-size:16px;
    line-height: 1.5;
  }
  .fotoVitor {
    width: 175px;
    height: 175px;
    border-radius: 95px;
    margin-bottom: 30px;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .title {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
    text-align: center;
    margin-top: 30px;
  }
  
  .RedesSociais {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .btnLinkedin {
    display: flex;
    align-items: center;
    background-color: #1568c4;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 5px; 
  }

  .btnGitHub {
    display: flex;
    align-items: center;
    background-color: #282828; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    gap: 5px; 
  }
  
  .btnIcon {
    width: 50px; 
    height: 50px;
  }
  
}

